


/* QTextEditSearchWidget */
QWidget#QTextEditSearchWidget {
    background-color: #ffffff;
}

QWidget#QTextEditSearchWidget > #widget_background {
    border-top: 0.5px solid rgb(191, 191, 191);
}

