


/* QTextEditSearchWidget */
QWidget#QPlainTextEditSearchWidget {
    background-color: #ffffff;
}

QWidget#QPlainTextEditSearchWidget > #widget_background {
    border-top: 0.5px solid rgb(191, 191, 191);
}

