QWidget#widget{
  background-color: transparent;
}

QLabel#label_title{
    color: #ffffff;
}

QWidget#widget_content{
  border-bottom: none;
}

#frame_body{
  border: none;
  font-size: 12px;
  color: #E8F1FB;
}

QLabel#label_tagList,
QLabel#label_datetime{
  color: #E8F1FB;
}

QLabel#label_categoryList{
    color: #ffffff;
}